.FullPage
{
    height:100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/mount.jpg');
	background-position:center;
	background-repeat:no-repeat;
    background-size:cover; 
    opacity: 0.9;
    filter: alpha(opacity=20);
}

.LeftSide
{
    width:40%;
    float: left;
    height:100vh;
    color: white;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.bg
{
    width:100%;
    float: left;
    position: absolute;
    height:100vh;
    background-color:rgb(10,191,103);
    opacity:0.2 ;
    z-index:1001;
}

.LeftSide h2
{
    margin-top: 30%;
}


.LogInBox
{
    width: 70%;
    height: 35%;
    border: 0.5px solid white !important;
    padding: 9%;
    margin-left: 15%;
    text-align: center;
}

.RightSide
{
    width:60%;
    float: left;
    height: 100vh;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.RightSide h2
{
    margin-top: 6%;
}

.SignUpBox
{
    width: 70%;
    height: 75%;
    border: 0.5px solid white;
    margin-left: 15%;
    text-align: center;
    flex-direction: column;
}


.LogInBox label
{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.MuiFormControl-root 
{
    border:0.2px solid white !important;
    width:100%;
}

.text-line {
    background-color: transparent;
    color: white;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid white 1px;
    padding: 1.5% 1.5%;
    margin:3%;
    -webkit-text-fill-color: white;
    font-size: 120%;
}

.MuiButton-containedPrimary
{
    block-size: 30px;
    width: 50%;
    font-size: 75%;
}


.wrapper {
    display: flex;
    justify-content: center;
  }
  
  .item {
    width: 100px;
    height: 50px;
    margin: 10px;
    position: relative;
  }
  
  button {
    border: 1px solid white;
    background: inherit;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    color: white;
    transition: background 0.5s ease;
  }
  
  button:hover {
    background: red;
    color: white;
    font-weight: normal;
  }
  
  button:hover i {
    color: white;
  }
  
  i {
    margin-left: 20px;
  }
  
  .arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
  }

  @keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.form-control
{
display: initial;
width: 32%;
height: 34px;
padding: 6px 12px;
margin-left: 4%;
font-size: 14px;
line-height: 1.42857143;
color: white;
background-color: inherit;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
margin-left: 3%;
    margin-right: 6%;
}
  
.react-tel-input
{
    display: initial;
}
